$cursor: url("./assets/cursor.png") !default;
$cursorClick: url("./assets/cursor-click.png") 14 0 !default;

html {
  box-sizing: border-box;
  cursor: $cursor, auto;
}

label,
button {
  cursor: $cursor, auto;
}

button:hover {
  cursor: $cursorClick, pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Press Start 2P", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
