// thanks to https://github.com/nostalgic-css/NES.css
$cursorUrl: url("/assets/cursor.png");
$cursorClickUrl: url("/assets/cursor-click.png");

$cursor: $cursorUrl !default;
$cursorClick: $cursorClickUrl 14 0 !default;
